<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Forest</title>
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/forest.css">
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
<script src="/js/side-menu.js"></script>
</body>
</html>