{% extends "layout.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/main-page.css">
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="page-wrapper">
        <div class="page-row">
            <div class="page-central-column">
                ## Content ##
            </div>
        </div>
    </div>
{% endblock %}